main#Form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: calc(100%);
}

#Form form {
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    gap: 20px;
    border: 2px;
    border-radius: 12px;
    border-style: outset;
}

#Form .form-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

#Form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#Form .color-selection {
    background-color: white;
    transition: border-color 0.3s;
}

#Form input[type="text"],
#Form input[type="email"],
#Form input[type="password"],
#Form select,
#Form textarea,
#Form .color-option,
#Form .color-selection {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

#Form input[type="text"],
#Form input[type="email"],
#Form input[type="password"],
#Form select,
#Form textarea,
#Form .color-option {
    display: flex;
    align-items: center;
}

#Form .color-option {
    transition: none;
}

#Form .color-option span {
    font-style: initial;
    font-size: 14px;
}

#Form input[type="text"]:focus,
#Form input[type="email"]:focus,
#Form input[type="password"]:focus,
#Form select:focus,
#Form textarea:focus,
#Form .color-selection:focus-within {
    border-color: #007bff;
    outline: none;
}

#Form .color-option.highlight {
    border: 1px solid darkgray;
}

#Form textarea {
    resize: vertical;
    min-height: 40px;
}

#Form form button {
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
}

#Form form button:hover:not(:disabled) {
    transform: translateY(-2px) translateX(2px);
}

#Form form button:disabled {
    cursor: not-allowed;
    color: inherit;
    opacity: 50%;
}

#Form .color-preview {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#Form .form-preview {
    background-color: var(--board-color);
    border: 2px;
    border-color: black;
    border-style: inset;
    border-radius: 6px;
    color: black;
    overflow: hidden;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.light main#Form {
    background-color: darkgray;
}

.dark main#Form {
    background-color: black;
}

.light #Form form {
    background-color: #ccc;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    border-color: black;
    color: black
}

.dark #Form form {
    background-color: #222;
    box-shadow: 0 8px 30px rgba(1, 1, 1, 0.1);
    border-color: #ccc;
    color: white;
}

.dark #Form input[type="text"],
.dark #Form input[type="email"],
.dark #Form input[type="password"],
.dark #Form select,
.dark #Form .color-selection,
.dark #Form textarea,
.dark #Form button {
    background-color: #444;
    color: white;
}