.dropzone {
    justify-content: center;
    align-items: center;
}

.dropzone>* {
    width: 85%;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, .1);
    border: rgba(0, 0, 0, .1) 3px dashed;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dropzone h4 {
    color: rgba(0, 0, 0, .5);
}