.pinned-note {
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}

.pinned-note>* {
    width: 85%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.5) -8px 20px 9px;
    transition: rotation 1s;
}

.pinned-note>*>img {
    width: 30%;
    bottom: 85%;
    max-width: 55px;
    display: flex;
    align-self: center;
    margin-left: 10%;
    position: absolute;
    pointer-events: none;
    user-select: none;
}

.pinned-note>*>*:not(img) {
    width: 100%;
    aspect-ratio: 1/1;
    transition-duration: unset;
}

.note-text {
    height: 80%;
    margin: 15% 5% 5%;
    color: black;
    font-family: 'Inter', sans-serif;
}