/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    --theme-transition-duration: 1s;
    --nav-height: 60px;
    --board-color: #cfba81;
    --board-color-dark: sienna;
    --navbar-bg-color: rgb(37, 99, 235);
    --navbar-bg-color-dark: midnightblue;

    min-height: 100vh;
    font-size: 16px;
    font-family: Consolas, monaco, monospace;
}

body {

    margin: 0%;
    top: 0px;
    min-height: inherit;
}

#root {
    min-height: inherit;
}

.app {
    min-height: inherit;
}

main {
    padding: 20px;
    padding-top: calc(var(--nav-height) + 20px);
    min-height: inherit;
}

ul {
    list-style-type: '- ';
    padding-left: 6%;
    font-size: 1vw;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

.light,
.light * {
    transition: color var(--theme-transition-duration), background-color var(--theme-transition-duration);
}

.dark,
.dark * {
    transition: color var(--theme-transition-duration), background-color var(--theme-transition-duration);
}